In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression

ep = pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/ep_reg.csv', encoding='cp949')
gn = pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/gn_reg.csv', encoding='cp949')

In [11]:
ep.head()

         date  count  season  weekday  temp
0  2019-01-01   4537  winter        1  -5.0
1  2019-01-02   5188  winter        1  -4.9
2  2019-01-03   4279  winter        1  -3.5
3  2019-01-04   5488  winter        1  -1.1
4  2019-01-05   5080  winter        0  -2.8

In [12]:
gn.head()

         date  count  season  weekday  temp
0  2019-01-01   3747  winter        1  -5.0
1  2019-01-02   6075  winter        1  -4.9
2  2019-01-03   7729  winter        1  -3.5
3  2019-01-04   7411  winter        1  -1.1
4  2019-01-05   5801  winter        0  -2.8

In [13]:
ep.season.value_counts()

else      182
summer     91
winter     90
Name: season, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()    #model 생성
model.fit(X = heights, y = weights)

NameError: name 'heights' is not defined

In [15]:
def reg_by_season(df):
    for season in ['summer', 'winter', 'else']:
        df_reg = df.copy()
        model = LinearRegression()
        print(f'<{season}>')
        
        df_reg = df_reg[df_reg.season == season]
        y = df_reg['count'].values
        X = df_reg[['temp', 'weekday']].values
        model.fit(X,y)
        print('회귀계수')
        print(model.coef_)
        print('절편')
        print(model.intercept_)
        print('----------------' + '\n')

In [16]:
reg_by_season(gn)

<summer>
회귀계수
[-2260.04505505 -5450.57631665]
절편
145597.80489081002
----------------

<winter>
회귀계수
[ 905.06566867 3177.66285552]
절편
9932.87271855539
----------------

<else>
회귀계수
[ 4281.08812374 -1197.51456966]
절편
10093.871308409049
----------------

In [17]:
reg_by_season(ep)

<summer>
회귀계수
[ -637.71603306 -9754.26803861]
절편
68740.81874625145
----------------

<winter>
회귀계수
[608.76880273 869.63110366]
절편
8267.286462031176
----------------

<else>
회귀계수
[ 2249.95566624 -7210.01609774]
절편
10916.649581815
----------------