In [1]:
import pandas as pd

# 1. 데이터 불러오기

In [6]:
area = pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#1. 공공자전거_대여소_정보/area_trip.csv', encoding = 'cp949')

In [7]:
area

,Unnamed: 0,rental_loc_no,location_name,district,address,y,x,install_date,LCD,QR,type
0,4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,0,LCD
1,5,302.0,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12,0,LCD
2,6,303.0,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8,0,LCD
3,7,304.0,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,0,7,QR
4,8,305.0,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16,0,LCD
...,...,...,...,...,...,...,...,...,...,...,...
2149,2153,1085.0,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,0,20,QR
2150,2154,1086.0,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,0,10,QR
2151,2155,1088.0,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,0,12,QR
2152,2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,0,10,QR
2153,2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,0,10,QR

In [8]:
area['district'].unique() #총 25개 자치구

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

# 2. [공공자전거_대여이력_정보] 데이터 불러오기

In [9]:
trip19 = pd.read_csv("/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/rental_data_2019.csv", encoding='cp949')
trip20 = pd.read_csv("/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/rental_data_2020.csv", encoding='cp949')

/Users/hyomin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
trip19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18485953 entries, 0 to 18485952
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   bike_no          object
 2   rental_date      object
 3   rental_loc_no    int64
 4   rental_loc_name  object
 5   rental_rack      int64
 6   return_date      object
 7   return_loc_no    int64
 8   return_loc_name  object
 9   return_rack      int64
 10  rental_time      int64
 11  rental_distance  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 1.7+ GB

In [11]:
trip20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17421645 entries, 0 to 17421644
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   Unnamed: 0.1     int64
 2   bike_no          object
 3   rental_date      object
 4   rental_loc_no    int64
 5   rental_loc_name  object
 6   rental_rack      object
 7   return_date      object
 8   return_loc_no    object
 9   return_loc_name  object
 10  return_rack      int64
 11  rental_time      float64
 12  rental_distance  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 1.7+ GB

In [12]:
trip19.head()

,Unnamed: 0,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
0,0,SPB-10632,2019-01-01 00:00:44,1421,신내역 4번출구,3,2019-01-01 00:03:53,1420,신내어울공원 앞,13,2,580.0
1,1,SPB-10957,2019-01-01 00:02:16,1408,먹골역 6번출구 앞,3,2019-01-01 00:07:07,1433,중화역 2번출구,4,4,1020.0
2,2,SPB-16067,2019-01-01 00:04:12,347,동대문역사문화공원역 9번출구 앞,17,2019-01-01 00:07:07,387,훈련원공원주차장 앞,1,2,550.0
3,3,SPB-17170,2019-01-01 00:03:09,615,용두동 래미안허브리츠아파트 앞,4,2019-01-01 00:07:27,612,시립동부병원 앞 사거리,14,3,700.0
4,4,SPB-14130,2019-01-01 00:01:44,1177,수명중?고교,7,2019-01-01 00:08:09,1152,마곡역교차로,1,5,1090.0

In [13]:
trip20.head()

,Unnamed: 0,Unnamed: 0.1,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
0,0,20,SPB-16682,2020-01-01 00:00:09,1373,성북구보건소 건너편,1,2020-01-01 00:10:24,01353,금호어울림센터힐 내,1,9.0,1760.0
1,1,76,SPB-10534,2020-01-01 00:00:53,173,서대문역 8번출구 앞,3,2020-01-01 00:21:50,00846,용산중학교,9,20.0,3200.0
2,2,0,SPB-04061,2020-01-01 00:01:04,429,송도병원,2,2020-01-01 00:04:21,00372,약수역 3번출구 뒤,8,2.0,0.0
3,3,4,SPB-09038,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,5,2020-01-01 00:05:57,01152,마곡역교차로,2,4.0,660.0
4,4,14,SPB-12414,2020-01-01 00:01:15,3533,건대입구역 사거리(롯데백화점),3,2020-01-01 00:09:24,00505,자양사거리 광진아크로텔 앞,8,7.0,1260.0

# 3. 자치구 데이터와 결합 "trip_area"

In [14]:
trip19_area = pd.merge(trip19,area, how='outer',on='rental_loc_no')
trip20_area = pd.merge(trip20,area, how='outer',on='rental_loc_no')

In [15]:
trip19_area.head()

,Unnamed: 0_x,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,...,Unnamed: 0_y,location_name,district,address,y,x,install_date,LCD,QR,type
0,0.0,SPB-10632,2019-01-01 00:00:44,1421.0,신내역 4번출구,3.0,2019-01-01 00:03:53,1420.0,신내어울공원 앞,13.0,...,499.0,신내역 4번출구,중랑구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26,20.0,0.0,LCD
1,150.0,SPB-15008,2019-01-01 00:16:31,1421.0,신내역 4번출구,18.0,2019-01-01 00:37:57,1608.0,공릉역 1번 출구 앞,6.0,...,499.0,신내역 4번출구,중랑구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26,20.0,0.0,LCD
2,1768.0,SPB-19554,2019-01-01 04:32:36,1421.0,신내역 4번출구,16.0,2019-01-01 04:50:54,1433.0,중화역 2번출구,7.0,...,499.0,신내역 4번출구,중랑구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26,20.0,0.0,LCD
3,3257.0,SPB-16956,2019-01-01 12:03:28,1421.0,신내역 4번출구,13.0,2019-01-01 12:15:58,1421.0,신내역 4번출구,1.0,...,499.0,신내역 4번출구,중랑구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26,20.0,0.0,LCD
4,5555.0,SPB-16956,2019-01-01 16:58:42,1421.0,신내역 4번출구,1.0,2019-01-01 17:06:25,1438.0,홈플러스 신내점 앞,12.0,...,499.0,신내역 4번출구,중랑구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26,20.0,0.0,LCD

In [16]:
trip20_area.head()

,Unnamed: 0_x,Unnamed: 0.1,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,...,Unnamed: 0_y,location_name,district,address,y,x,install_date,LCD,QR,type
0,0.0,20.0,SPB-16682,2020-01-01 00:00:09,1373.0,성북구보건소 건너편,1,2020-01-01 00:10:24,01353,금호어울림센터힐 내,...,607.0,성북구보건소 건너편,성북구,화랑로 63,37.602291,127.038979,2020-09-24,0.0,8.0,QR
1,5327.0,5183.0,SPB-16544,2020-01-01 12:00:10,1373.0,성북구보건소 건너편,1,2020-01-01 12:06:10,01320,LG베스트샵 종암점,...,607.0,성북구보건소 건너편,성북구,화랑로 63,37.602291,127.038979,2020-09-24,0.0,8.0,QR
2,11050.0,10803.0,SPB-22601,2020-01-01 18:12:15,1373.0,성북구보건소 건너편,1,2020-01-01 18:23:32,00609,제기2교,...,607.0,성북구보건소 건너편,성북구,화랑로 63,37.602291,127.038979,2020-09-24,0.0,8.0,QR
3,13339.0,13161.0,SPB-06570,2020-01-01 20:53:07,1373.0,성북구보건소 건너편,1,2020-01-01 21:02:45,01321,국민은행 종암동지점 앞,...,607.0,성북구보건소 건너편,성북구,화랑로 63,37.602291,127.038979,2020-09-24,0.0,8.0,QR
4,13894.0,13820.0,SPB-25125,2020-01-01 21:33:53,1373.0,성북구보건소 건너편,7,2020-01-01 21:52:25,00583,청계천 생태교실 앞,...,607.0,성북구보건소 건너편,성북구,화랑로 63,37.602291,127.038979,2020-09-24,0.0,8.0,QR

# 4. 자치구별 총 이용건수

In [18]:
trip19_area['district'].value_counts() #자치구별 이용건수

송파구     1689768
영등포구    1649870
마포구     1434791
강서구     1289740
광진구     1224738
노원구      979268
성동구      968260
서초구      888406
강남구      852693
종로구      839503
구로구      737173
강동구      718366
동대문구     715666
관악구      693185
성북구      662263
양천구      619185
서대문구     602270
은평구      579254
중랑구      523953
동작구      504569
중구       480309
용산구      419314
강북구      364682
도봉구      336963
금천구      319753
Name: district, dtype: int64

In [17]:
trip20_area['district'].value_counts() #자치구별 이용건수

강서구     1451711
영등포구    1441660
송파구     1302183
마포구     1119282
노원구      917655
광진구      877888
성동구      817513
양천구      748960
구로구      690155
서초구      686734
종로구      645038
강동구      638982
동대문구     618000
강남구      586933
관악구      585867
성북구      554519
은평구      533927
중랑구      489098
서대문구     472918
동작구      439969
용산구      392237
중구       385817
도봉구      349821
강북구      333687
금천구      301532
Name: district, dtype: int64

# 5. 자치구별 총 이용거리

In [29]:
trip19_grouped = trip19_area.groupby('district')
trip20_grouped = trip20_area.groupby('district')

In [30]:
trip19_grouped = trip19_grouped[['district', 'rental_time', 'rental_distance']]
trip20_grouped = trip20_grouped[['district', 'rental_time', 'rental_distance']]

In [31]:
pd.options.display.float_format = '{:.5f}'.format
trip19_grouped_sum = trip19_grouped.sum() # 자치구별 총 이용시간(rental_time), 이용거리(rental_distance)
trip19_grouped_sum

            rental_time  rental_distance
district
강남구      23570188.00000 3636958615.00000
강동구      15925229.00000 2200855395.00000
강북구       7574568.00000 1111566541.00000
강서구      24930691.00000 3708527779.00000
관악구      15988298.00000 2576683617.00000
광진구      27391830.00000 3929191202.00000
구로구      16593807.00000 2675672294.00000
금천구       7234440.00000 1186285491.00000
노원구      20722590.00000 3146655890.00000
도봉구       7415144.00000 1155077748.00000
동대문구     14713627.00000 2224504235.00000
동작구      13788659.00000 2123299332.00000
마포구      38401356.00000 5477421245.00000
서대문구     14525636.00000 2281731877.00000
서초구      24741864.00000 3720503677.00000
성동구      25505959.00000 3825857952.00000
성북구      13371373.00000 2102313623.00000
송파구      41708098.00000 5852464284.00000
양천구      13298232.00000 1983392002.00000
영등포구     42068923.00000 6151245639.00000
용산구      12742541.00000 1970041535.00000
은평구      12539542.00000 1873466777.00000
종로구      16516511.00000 2187896658.00000
중구       10735338.00000 1428731252.00000
중랑구      10900957.00000 1694339384.00000

In [32]:
pd.options.display.float_format = '{:.5f}'.format
trip20_grouped_sum = trip20_grouped.sum() # 자치구별 총 이용시간(rental_time), 이용거리(rental_distance)
trip20_grouped_sum

            rental_time  rental_distance
district
강남구      21084547.00000 1442427090.29001
강동구      18071299.00000 1006705278.47000
강북구       9186266.00000  504712800.57999
강서구      34389213.00000 1836748896.94000
관악구      17330167.00000 1158125827.90000
광진구      25403266.00000 1559772633.76003
구로구      20665477.00000 1282853755.14001
금천구       9489569.00000  624044732.05000
노원구      25439370.00000 1411599367.83002
도봉구      10238034.00000  581866271.75000
동대문구     16840322.00000  947842032.53000
동작구      14908924.00000  970965657.50000
마포구      39001872.00000 2422300521.10003
서대문구     15196818.00000 1007654769.87999
서초구      24677517.00000 1740970949.66002
성동구      27887697.00000 1763488168.89002
성북구      14546278.00000  915947661.64000
송파구      39534696.00000 2363924601.19002
양천구      20613637.00000 1061040468.71000
영등포구     47301213.00000 2917167374.80003
용산구      14796809.91000  935063514.95000
은평구      15662662.00000  952561565.69000
종로구      15851841.00000  826182978.25999
중구       10429243.00000  548278018.98000
중랑구      13098512.00000  721128430.44000

In [33]:
trip19_grouped_sum.to_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/trip19_distance_sum.csv', encoding = 'cp949')

In [34]:
trip20_grouped_sum.to_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/trip20_distance_sum.csv', encoding = 'cp949')

# 6. 자치구별 평균 이용거리

In [35]:
trip19_grouped_mean = trip19_grouped.mean() # 자치구별 평균 이용시간(rental_time), 이용거리(rental_distance)
trip19_grouped_mean

          rental_time  rental_distance
district
강남구          29.92265       4617.16408
강동구          24.34637       3364.65125
강북구          23.00566       3376.07682
강서구          21.83895       3248.62057
관악구          25.33382       4082.81287
광진구          24.31607       3487.99165
구로구          24.90048       4015.08436
금천구          25.10084       4115.97415
노원구          23.42176       3556.51589
도봉구          24.49198       3815.18489
동대문구         22.85239       3454.97703
동작구          29.81151       4590.63955
마포구          29.10907       4152.00557
서대문구         26.53341       4167.95028
서초구          30.30951       4557.72605
성동구          28.95243       4342.82329
성북구          22.23707       3496.22262
송파구          26.86733       3770.01407
양천구          24.57484       3665.26467
영등포구         27.92105       4082.56774
용산구          33.34269       5154.89622
은평구          24.06314       3595.14647
종로구          21.88626       2899.21269
중구           24.81029       3301.92086
중랑구          22.99533       3574.17110

In [36]:
trip20_grouped_mean = trip20_grouped.mean() # 자치구별 평균 이용시간(rental_time), 이용거리(rental_distance)
trip20_grouped_mean

          rental_time  rental_distance
district
강남구          35.92326       2457.57942
강동구          28.28139       1575.48793
강북구          27.52959       1512.53814
강서구          23.68920       1265.26440
관악구          29.58038       1976.78609
광진구          28.93680       1776.74723
구로구          29.94324       1858.81772
금천구          31.47118       2069.60104
노원구          27.72218       1538.27308
도봉구          29.26658       1663.33049
동대문구         27.25033       1533.76220
동작구          33.88631       2206.91066
마포구          34.84556       2164.18084
서대문구         32.13415       2130.74477
서초구          35.93461       2535.14969
성동구          34.11285       2157.14041
성북구          26.23224       1651.80557
송파구          30.36032       1815.36908
양천구          27.52301       1416.69266
영등포구         32.81029       2023.48648
용산구          37.72416       2383.94912
은평구          29.33484       1784.08709
종로구          24.57505       1280.83037
중구           27.03228       1421.12362
중랑구          26.78096       1474.41986

In [37]:
trip20_grouped_mean.to_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/trip20_distance_mean.csv', encoding = 'cp949')
trip20_grouped_mean.to_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/trip20_distance_mean.csv', encoding = 'cp949')